:root {
  --main-font-color: rgb(45, 45, 65);
  --secondary-color: rgb(210, 210, 225);
}
body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
  background-image: url('./images/clouds.jpg');
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--main-font-color);
}
h1 {
  font-weight: 800;
  font-size: 26px;
  margin: 5px 0px;
  height: min-content;
}
h2 {
  font-weight: 400;
  font-size: 20px;
  margin: 0px;
  height: min-content;
}
/* Container styling =============================================================== */
.current-weather-display {
  /* background-color: aqua; */
  box-sizing: border-box;
  padding: 15px 25px;
  height: 100%;
  width: 100%;
}
.location-display {
  /* background-color: aquamarine; */
  box-sizing: border-box;
  padding: 15px 25px;
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: flex-end;
  text-align: right;
  grid-auto-rows: min-content;
  gap: 5px;
}
.forecast-graph {
  /* background-color: beige; */
  grid-column: 1/-1;
  box-sizing: border-box;
  padding: 25px;
  height: 100%;
  width: 100%;
}
.forecast-details {
  /* background-color: brown; */
  grid-column: 1/-1;
  box-sizing: border-box;
  padding: 25px;
  height: 100%;
  width: 100%;
}
/* Form styling =============================================================== */
form {
  height: fit-content;
  width: 100%;
  color: var(--main-font-color);
  border-radius: 5px;
  display: grid;
  grid-auto-rows: min-content;
  gap: 5px;
}
/* label {
  justify-self: center;
  font-weight: 900;
  font-size: 18px;
} */
input {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 400;
  outline: none;
  border: none;
  height: max-content;
  border-radius: 7.5px;
  padding: 10px 20px;
  margin-top: 25px;
  background-color: rgba(255, 255, 255, 0.6);
  color: var(--main-font-color);
}