:root {
  --main-font-color: rgb(75, 75, 85);
  --secondary-color: rgb(210, 210, 225);
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: cadetblue;
  background-image: './clouds.jpg';
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(210, 210, 225);
  padding: 30px;
  padding-bottom: 40px;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.35),
  inset -2px -2px 2px rgb(0, 0, 0, 0.25),
  6px 6px 8px 2px rgb(0, 0, 0, 0.05);
  border-radius: 10px;
  width: max-content;
}
form {
  height: fit-content;
  background-color: rgb(210, 210, 225);
  color: var(--main-font-color);
  border-radius: 5px;
  display: grid;
  grid-auto-rows: min-content;
  gap: 10px;
}
form h1 {
  margin: 10px;
  margin-bottom: 25px;
  font-weight: 900;
  font-size: 26px;
  text-align: center;
}
label {
  margin-bottom: -5px;
  margin-top: 5px;
  font-weight: 900;
  font-size: 18px;
}
select {
  appearance: none;
}
input,
button,
select {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  outline: none;
  border: none;
  height: max-content;
  max-width: 350px;
  border-radius: 7.5px;
  padding: 10px 15px;
  background-color: rgb(230, 230, 245);
  color: var(--main-font-color);
}
button {
  font-weight: 900;
  margin-top: 40px;
  margin-bottom: 20px;
}